### Working with the dataset (prepping, cleaning, exploring)
- Objectives:
    - Understanding the data im working with and what i want to achieve with this data
    - Saving a clean .csv for later analysis

In [1]:
import os

In [4]:
path_to_dataset = '../dataset'
if not os.path.isdir(path_to_dataset):
    print(f'{path_to_dataset} is not a dir')

In [5]:
os.listdir(path_to_dataset)

['test.csv', 'train.csv', 'Sample_Submission.csv']

In [15]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv(os.path.join(path_to_dataset, 'train.csv'))
df.head(n=3)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26

In [13]:
df.dtypes

ID                              object
Delivery_person_ID              object
Delivery_person_Age             object
Delivery_person_Ratings         object
Restaurant_latitude            float64
Restaurant_longitude           float64
Delivery_location_latitude     float64
Delivery_location_longitude    float64
Order_Date                      object
Time_Orderd                     object
Time_Order_picked               object
Weatherconditions               object
Road_traffic_density            object
Vehicle_condition                int64
Type_of_order                   object
Type_of_vehicle                 object
multiple_deliveries             object
Festival                        object
City                            object
Time_taken(min)                 object
dtype: object

In [14]:
df.isnull().sum()

ID                             0
Delivery_person_ID             0
Delivery_person_Age            0
Delivery_person_Ratings        0
Restaurant_latitude            0
Restaurant_longitude           0
Delivery_location_latitude     0
Delivery_location_longitude    0
Order_Date                     0
Time_Orderd                    0
Time_Order_picked              0
Weatherconditions              0
Road_traffic_density           0
Vehicle_condition              0
Type_of_order                  0
Type_of_vehicle                0
multiple_deliveries            0
Festival                       0
City                           0
Time_taken(min)                0
dtype: int64

In [16]:
df.replace({"NaN": np.nan}, regex=True, inplace = True)

In [17]:
df.isnull().sum()

ID                                0
Delivery_person_ID                0
Delivery_person_Age            1854
Delivery_person_Ratings        1908
Restaurant_latitude               0
Restaurant_longitude              0
Delivery_location_latitude        0
Delivery_location_longitude       0
Order_Date                        0
Time_Orderd                    1731
Time_Order_picked                 0
Weatherconditions               616
Road_traffic_density            601
Vehicle_condition                 0
Type_of_order                     0
Type_of_vehicle                   0
multiple_deliveries             993
Festival                        228
City                           1200
Time_taken(min)                   0
dtype: int64

In [19]:
for column in df.dtypes.index:
    if df[column].isnull().sum() != 0:
        print(column)

Delivery_person_Age
Delivery_person_Ratings
Time_Orderd
Weatherconditions
Road_traffic_density
multiple_deliveries
Festival
City

In [20]:
df.duplicated().sum()

np.int64(0)

In [21]:
df.describe()

,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Vehicle_condition
count,45593.000000,45593.000000,45593.000000,45593.000000,45593.000000
mean,17.017729,70.231332,17.465186,70.845702,1.023359
std,8.185109,22.883647,7.335122,21.118812,0.839065
min,-30.905562,-88.366217,0.010000,0.010000,0.000000
25%,12.933284,73.170000,12.988453,73.280000,0.000000
50%,18.546947,75.898497,18.633934,76.002574,1.000000
75%,22.728163,78.044095,22.785049,78.107044,2.000000
max,30.914057,88.433452,31.054057,88.563452,3.000000

In [22]:
df.drop('ID', axis=1, inplace=True)

In [23]:
df.head(n=3)

,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26

In [24]:
df['Time_taken(min)'].head()

0    (min) 24
1    (min) 33
2    (min) 26
3    (min) 21
4    (min) 30
Name: Time_taken(min), dtype: object

In [25]:
df['Time_taken(min)'] = df['Time_taken(min)'].str.replace('(min)','')
df = df.rename(columns={'Time_taken(min)':'Time_taken'})
df['Time_taken'] = df['Time_taken'].astype(int)

In [27]:
df['Time_taken'].head()

0    24
1    33
2    26
3    21
4    30
Name: Time_taken, dtype: int64

In [28]:
df['Weatherconditions'].head(n=3)

0         conditions Sunny
1        conditions Stormy
2    conditions Sandstorms
Name: Weatherconditions, dtype: object

In [29]:
df['Weatherconditions'] = df['Weatherconditions'].str.replace('conditions','')

In [30]:
df['Weatherconditions'].head(n=3)

0          Sunny
1         Stormy
2     Sandstorms
Name: Weatherconditions, dtype: object

In [31]:
df.head(n=3)

,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken
0,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,Sunny,High,2,Snack,motorcycle,0,No,Urban,24
1,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,33
2,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,26

Now we want to calculate the distance between the restaurant and the delivery place
- we know the coordinates for restaurant, same as for the delivery location
- we'll use geodesic from geopy.distance (pip install geopy)

In [32]:
from geopy.distance import geodesic

In [ ]:
# restaurant_coords = (df['Restaurant_latitude'], df['Restaurant_longitude'])
# delivery_coords = (df['Delivery_location_latitude'], df['Delivery_location_longitude'])

# df['distance_in_km'] = df.apply(geodesic(restaurant_coords, delivery_coords).kilometers, axis=1)

# We'll need a helper function in order to do that

In [ ]:
def calculate_distance(row):
    restaurant_coords = (row['Restaurant_latitude'], row['Restaurant_longitude'])
    delivery_coords = (row['Delivery_location_latitude'], row['Delivery_location_longitude'])
    return geodesic(restaurant_coords, delivery_coords).kilometers

df['distance_in_km'] = df.apply(calculate_distance, axis=1)

In [38]:
df.head(n=3)

,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken,distance_in_km
0,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,Sunny,High,2,Snack,motorcycle,0,No,Urban,24,3.020737
1,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,33,20.143737
2,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,26,1.549693

In [40]:
df['Delivery_person_Age']=df['Delivery_person_Age'].astype(float)

In [42]:
df['Delivery_person_Ratings']=df['Delivery_person_Ratings'].astype(float)

In [43]:
df['Order_Date']=pd.to_datetime(df['Order_Date'])

df['Order_day']=df['Order_Date'].dt.day
df['Order_month']=df['Order_Date'].dt.month
df['Order_year']=df['Order_Date'].dt.year

/var/folders/7j/_p9t5tjd6cv81x2zrk834f_40000gn/T/ipykernel_14176/2595496726.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Order_Date']=pd.to_datetime(df['Order_Date'])

In [44]:
df.head(n=3)

,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,...,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken,distance_in_km,Order_day,Order_month,Order_year
0,INDORES13DEL02,37.0,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,11:30:00,11:45:00,...,Snack,motorcycle,0,No,Urban,24,3.020737,19,3,2022
1,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,19:45:00,19:50:00,...,Snack,scooter,1,No,Metropolitian,33,20.143737,25,3,2022
2,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,08:30:00,08:45:00,...,Drinks,motorcycle,1,No,Urban,26,1.549693,19,3,2022

Columns were added to the end of the table so we need to shift them back in place

In [45]:
col = df.pop("Order_day")
df.insert(10,"Order_day",col)

col = df.pop("Order_month")
df.insert(11,"Order_month",col)

col = df.pop("Order_year")
df.insert(12,"Order_year",col)

In [46]:
df.head(n=3)

,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,...,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken,distance_in_km
0,INDORES13DEL02,37.0,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,11:30:00,11:45:00,...,Sunny,High,2,Snack,motorcycle,0,No,Urban,24,3.020737
1,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,19:45:00,19:50:00,...,Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,33,20.143737
2,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,08:30:00,08:45:00,...,Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,26,1.549693

In [47]:
df['Time_Orderd']=pd.to_datetime(df['Time_Orderd'])

df['Hour_order']=df['Time_Orderd'].dt.hour
df['Min_order']=df['Time_Orderd'].dt.minute

/var/folders/7j/_p9t5tjd6cv81x2zrk834f_40000gn/T/ipykernel_14176/2101791981.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Time_Orderd']=pd.to_datetime(df['Time_Orderd'])

In [48]:
df.head(n=3)

,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,...,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken,distance_in_km,Hour_order,Min_order
0,INDORES13DEL02,37.0,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,2025-05-30 11:30:00,11:45:00,...,2,Snack,motorcycle,0,No,Urban,24,3.020737,11.0,30.0
1,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,2025-05-30 19:45:00,19:50:00,...,2,Snack,scooter,1,No,Metropolitian,33,20.143737,19.0,45.0
2,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,2025-05-30 08:30:00,08:45:00,...,0,Drinks,motorcycle,1,No,Urban,26,1.549693,8.0,30.0

In [49]:
col = df.pop("Hour_order")
df.insert(14,"Hour_order",col)

col = df.pop("Min_order")
df.insert(15,"Min_order",col)

In [50]:
df.head(n=3)

,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,...,Min_order,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken,distance_in_km
0,INDORES13DEL02,37.0,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,2025-05-30 11:30:00,11:45:00,...,30.0,High,2,Snack,motorcycle,0,No,Urban,24,3.020737
1,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,2025-05-30 19:45:00,19:50:00,...,45.0,Jam,2,Snack,scooter,1,No,Metropolitian,33,20.143737
2,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,2025-05-30 08:30:00,08:45:00,...,30.0,Low,0,Drinks,motorcycle,1,No,Urban,26,1.549693

In [51]:
df.dtypes

Delivery_person_ID                     object
Delivery_person_Age                   float64
Delivery_person_Ratings               float64
Restaurant_latitude                   float64
Restaurant_longitude                  float64
Delivery_location_latitude            float64
Delivery_location_longitude           float64
Order_Date                     datetime64[ns]
Time_Orderd                    datetime64[ns]
Time_Order_picked                      object
Order_day                               int32
Order_month                             int32
Order_year                              int32
Weatherconditions                      object
Hour_order                            float64
Min_order                             float64
Road_traffic_density                   object
Vehicle_condition                       int64
Type_of_order                          object
Type_of_vehicle                        object
multiple_deliveries                    object
Festival                               object
City                                   object
Time_taken                              int64
distance_in_km                        float64
dtype: object

In [52]:
df.drop(columns=['Order_Date', 'Time_Orderd'], inplace=True)

In [54]:
col = df.pop("Hour_order")
df.insert(11,"Hour_order",col)

col = df.pop("Min_order")
df.insert(12,"Min_order",col)

In [56]:
df.dtypes

Delivery_person_ID              object
Delivery_person_Age            float64
Delivery_person_Ratings        float64
Restaurant_latitude            float64
Restaurant_longitude           float64
Delivery_location_latitude     float64
Delivery_location_longitude    float64
Time_Order_picked               object
Order_day                        int32
Order_month                      int32
Order_year                       int32
Hour_order                     float64
Min_order                      float64
Weatherconditions               object
Road_traffic_density            object
Vehicle_condition                int64
Type_of_order                   object
Type_of_vehicle                 object
multiple_deliveries             object
Festival                        object
City                            object
Time_taken                       int64
distance_in_km                 float64
dtype: object